<div class="container">

  <div class="head-banner my-3">
    <h1>Welcome to the Arena!</h1>
    <%= link_to "Back to Home", root_path, class: "btn btn-danger my-3" %>
  </div>

  <div class="combat-area p-3">
    <div class="row">
      <div class="player1 col">
        <h3>Player 1</h3>
        <%= link_to "Create your own fighter", new_fighter_path, class: "btn btn-warning" %>
        <h4>Choose a fighter:</h4>
        <%= render 'fighter_card', fighters: @fighters %>
      </div>
      <div class="arena col-8">
        <%= render 'search_bar', fighters: @fighters %>
      </div>
      <div class="player2 col">
        <h3>Player 2</h3>
        <%= link_to "Create your own fighter", new_fighter_path, class: "btn btn-warning" %>
        <h4>Choose a fighter:</h4>
        <%= render 'fighter_card', fighters: @fighters %>
      </div>
    </div>
  </div>


</div>
